flask>=3.0.0
flask-cors>=4.0.0
Pillow>=10.0.0
werkzeug>=3.0.0
yt-dlp>=2024.1.0
pikepdf>=8.0.0
pdf2docx>=0.5.8
pdf2image>=1.17.0
python-pptx>=0.6.23
docx2pdf>=0.1.8
ebooklib>=0.18
pypdf>=4.0.0
beautifulsoup4>=4.12.0
reportlab>=4.0.0
spotdl>=4.2.0
svglib>=2.0.2
vtracer>=0.6.15
pyinstaller>=6.4.0
